*{
  margin: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 4px solid black;
  margin: 15px auto;
  width: 825px;
  position: relative;
}

ul li {
  list-style-type: square;
}

h2 {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 15px;
}

.price-shipping-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: inline-block;
  font-size: 24px;
}

.free-shipping {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
}

a:link,
a:visited {
  color: black;
  font-weight: bold;
}

a:hover,
a:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.product-details-container {
  flex: 1;
}
/* Get h3 elements who are direct children of class */
.product-details-container h3 {
  text-align: center;
}
.product-details-container ul {
  text-align: left; /* Aligns inline content */
  align-self: stretch; /* Makes sure the <ul> can expand full width in flexbox */
  padding-left: 1rem; /* Optional: Adds spacing for bullet indent */
  margin: 0 auto; /* Optional: Center block if it's narrower */
}

button:hover {
  color: black;
  /* To conserve the size use either */
  border-top: 4px solid black;
  box-sizing: border-box;

  background-color: #f7f7f7;

  /* outline: 4px solid black; */
  cursor: pointer;

  /* filter: invert(); */
}

.sale-sticker {
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 7px 15px;
  display: inline-block;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: none;
  position: absolute;
  top: -40px;
  left: -30px;
}

.box {
  display: inline-block;
  height: 22px;
  width: 22px;
}

.colors {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

/* Grid layour */

.container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.main-header {
  grid-column: 1/-1;
}

button {
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 100%;
  text-transform: uppercase;
  grid-column: 1/-1;
}
