h1,
h2,
h3,
button {
  text-transform: uppercase;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 4px solid black;
  margin: 15px auto;
  width: 825px;
  position: relative;
}

.content {
  width: 100%;
}

ul li {
  list-style-type: square;
}

h2 {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: x-large;
  display: inline-block;
}

a:link,
a:visited {
  color: black;
  font-weight: bold;
}

a:hover,
a:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
button {
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 100%;
}

button:hover {
  color: black;
  /* To conserve the size use either */
  border-top: 4px solid black;
  box-sizing: border-box;

  background-color: #f7f7f7;

  /* outline: 4px solid black; */
  cursor: pointer;

  /* filter: invert(); */
}

.sale-sticker {
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 7px 15px;
  display: inline-block;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: none;
  position: absolute;
  top: -40px;
  left: -30px;
}

.box {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.free-shipping {
  display: inline-block;
  margin: auto 40px;
}

.colors {
  margin-top: 30px;
}

.shoe-img {
  float: left;
}

.price-container {
  float: left;
  width: 300px;
  margin-left: 100px;
}

.product-details-container {
  float: right;
  width: 300px;
}
