/* 
Collapse Sections: cmd, K -> cmd, 8
Expand Sections: cmd,k, cmd, 9
*/

/* DESIGN SYSTEM */

/* 

DESIGN SYSTEM

--- 1 TYPOGRAPHY

-FONT SIZES (px):
10 / 12 / 14 / 16
18 / 20 / 24 / 30
36 / 44 / 52 / 62
74 / 86 / 98

-FONT WEIGHTS:
default: 400

-LINE HEIGHTS:
Default: 1
Small: 1.05
Paragraph Defult: 1.6

-SPACING (px):
2 / 4 / 8
12 / 16 / 24
32 / 48 / 64
80 / 96 / 128


-----------------------
--- COLORS ------------
Primary: #e67e22
Tints: 
* #fdf2e9 (bg color)
* #fae5d3

Shades:#cf711f, #a15818;
Accents:
Greys: 
* #555
* #333



-- 05 SHADOWS

-- 06 BORDER-RADIUS

-- 07 WHITESPACE


*/

/* #region HERO SECTION */
/* **** HERO SECTION ***** */
/* *********************** */

/* #region GENERAL */
html {
  /* Scale dow by 10/16, so default rem is 10px */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Width, Height * Content + Pdding + Border */
  /* Width, Height is the total  */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* #endregion GENERAL */

/* #region REUSABLE COMPONENTS */

/* BUTTON */
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  /* Gapx * 2 * gapY */
  border-radius: 9px;
  text-decoration: none;
  transition: all 1s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: white;
}

.btn-full:hover,
.btn-full:active {
  /* background-color: #cf711f; */
  background-color: #b8651b;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: white;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  /* Shadow Trick */
  box-shadow: inset 0 0 0 3px #fff;
}

.gap-right-sm {
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
  margin-right: 1.6rem !important;
  /* Ensure it get's applied */
}
/*  Add border without changing dimentions */
/* Shadow Trick */

.gap-top-lg {
  margin-top: 8rem;
}

/* HEADERS */
.subheading {
  display: block; /* make full widht */
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;

  /* Highlight Color - Darker by 2 shades */
  /*  highlight-dark-2 */
  color: #cf711f;

  /* when Text is really small and upper case > increase letter spacing a bit */
  letter-spacing: 0.75px;
}

.heading-2 {
  /* import from heading 1 */
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 3.2rem;

  font-size: 4.4rem;
  line-height: 1.2;

  /* Get shade from highlight color or shade of gray from opencolor */
  color: #333;

  /* try to match the same gap from the content in the top element */
  /* which is a lot */
  margin-bottom: 9.6rem;
}

/* CONTAINER*/

.container-centered {
  /* conventions for max Width: 120rem or  1140px (Except for hero that can be a bit larger */
  max-width: 120rem;
  /* Centered horizontally*/
  margin: 0 auto;

  /* Ho */
  padding: 0 3.2rem;
}

/* SPACER */

.space-bottom {
  margin-bottom: 9.6rem;
}

/* GRID  */

.grid-2cols {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4cols {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(4, 1fr);
}

/* Center Grid on X (main axis) */
.grid-center-x {
  justify-items: center; /* Main, X (Horizontal Alignment)*/
}

/* Center Grid on Y (Secondary Axis) */
.grid-center-y {
  align-items: center; /* Secondary, Y (Vertical Alignment)*/
}

.grid-center {
  justify-items: center; /* Main, X (Horizontal Alignment)*/
  align-items: center; /* Secondary, Y (Vertical Alignment)*/
}

/* Storng */

strong {
  font-weight: 500;
}

/* icons */
ion-icon {
  color: #e67e22;
}


/* #endregion REUSABLE COMPONENTS */
