/* 
DESIGN SYSTEM

--- 1 TYPOGRAPHY

-FONT SIZES (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHTS:
default: 400

-LINE HEIGHTS:
Default: 1

--- 2 COLORS

Primary: #e67e22
Tints: #fdf2e9
Shades:#cf711f
Accents:
Greys: #555

-- 05 SHADOWS

-- 06 BORDER-RADIUS

-- 07 WHITESPACE

-SPACING (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* 
TODO

H1
Line height 1.05

font weight: 700

color: #555, #333

mrging-bottom: 32px --> 3.2 rem



description
 fsize: 2rem
line height:  

mrgin bottom: 4.8 rem 

// use  light shade of the primary ornge version
// get primary color: go to tins & shdes generador
	makeTintsndShdes.com

*/

html {
  /* Scale dow by 10/16, so default rem is 10px */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Width, Height = Content + Pdding + Border */
  /* Width, Height is the total  */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.test {
  background-color: red;
  padding: 4rem;
  /* Width = Parent container (100%), until cap of Max-width */
  max-width: 50rem;
  color: #fff;
  font-size: 2rem;
  /* size = 2 * Base = 2 * (16px) */
}

.section-hero {
  /* Center on parent (page) */
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  /* Center on parent on X */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #000;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: white;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  /* Gapx = 2 * gapY */
  border-radius: 9px;
  text-decoration: none;
  transition: all 1s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: white;
}

.btn-full:hover,
.btn-full:active {
  /* background-color: #cf711f; */
  background-color: #b8651b;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: white;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  /* Shadow Trick */
  box-shadow: inset 0 0 0 3px #fff;
}

.gap-right-sm {
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
  margin-right: 1.6rem !important;
  /* Ensure it get's applied */
}
/*  Add border without changing dimentions */
/* Shadow Trick */
